<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net461" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="IronPython" version="2.7.9" targetFramework="net461" />
  <package id="Jint" version="2.11.58" targetFramework="net461" />
  <package id="LiteDB" version="4.1.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="ProxySocket" version="1.1.2" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="76.0.0" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="76.0.3809.12600" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.24.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
</packages>